@import "./var-variables.css";
@import './variables';
@import './mixin.scss';
@import './reset.scss';
@import './_fonts';
@import "helper/helper";

.d-container {
  width: 880px;
  margin: 0 auto;
  background: $white;
  padding: 16px 16px 84px;
  min-height: 100vh;
}