@import './variables';
@import './mixin.scss';
@import './reset.scss';
@import "helper/helper";

.d-container {
  width: 880px;
  margin: 0 auto;
  background: $white;
  padding: 16px 16px 84px;
  min-height: 100vh;
}

#nprogress .bar {
  background: var(--warning) !important;
  position: $zindex-fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px !important;
}